body {
  margin: 20px;
  background-color: lightgrey;
 }
 
 .app-container {
  display: grid;
  grid-template-areas:
    "form notes"
    "favorites notes"
    "theme notes";
  grid-template-columns: 250px 1fr;
  gap: 20px;
}
 
@media (max-width: 600px) {
  .app-container {
    grid-template-areas:
      "form"
      "notes"
      "favorites"
      "theme";
    grid-template-columns: 1fr;
  }
}
 
.note-form {
  grid-area: form;
}

.notes-grid {
  grid-area: notes;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 20px;
}

.favorites-list {
  grid-area: favorites;
}

.favorites-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.theme-toggle {
  grid-area: theme;
  align-self: start;
}

.note-item {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  min-height: 300px;
  min-width: 250px;
  transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}

.theme-toggle button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
 
 .notes-header {
  display: flex;
  justify-content: flex-end;
 }
 
 .notes-header button {
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  max-width: fit-content;
 }
 
 h2 {
  margin: 0;
 }
 
 .note-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
 }
 
 textarea,
 input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
 }
 
 .note-form button {
  border-radius: 5px;
  background-color: rgb(64, 154, 184);
  border: none;
  padding: 10px;
  font-size: 16px;
  color: white;
 }
 
 .note-form button:hover {
  background-color: rgb(106, 175, 198);
  cursor: pointer;
 }
 
 .edit-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
 }
 
 .edit-buttons button {
  flex: 1;
 }
 
 .edit-buttons button:last-of-type {
  background-color: rgb(220, 89, 89);
  color: white;
 }

 .theme-toggle {
  grid-area: theme;
  align-self: start;
}

.theme-toggle button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.todo-list-container {
  width: 100%;
}

.todo-list-header {
  text-align: center;
}

.todo-list-content {
  display: flex;
  justify-content: center;
}

.todo-list-content form {
  text-align: left;
}

.list-item input[type="checkbox"] {
  margin-right: 5px;
}